* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  scrollbar-width: thin;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100%;
}

li {
  list-style: none;
}

fieldset {
  border-color: var(--color-border-3);
  border-width: 1px;
  /* outline: none; */
  box-shadow: none;
  border-radius: 4px;
  padding-top: 14px;
}
a {
  color: #000;
  /* text-decoration: none; */
}

.router-link-active {
  color: #12b886;
}
